.vscode/**
.vscode-test/**
.git/**
.gitignore
**/.eslintrc.json
**/tsconfig.json
**/*.map
**/*.ts
src/**
node_modules/**
out/test/**
**/*.test.js
*.vsix
yarn.lock
package-lock.json
vsc-extension-quickstart.md
.yarnrc
*.md
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md
media/icon-source.jpg
